1 VERSIONINFO
FILEVERSION 1,2,2,314
PRODUCTVERSION 1,2,2,314
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040A04B0"
  {
   VALUE "Comments", "\000"
   VALUE "CompanyName", "\000"
   VALUE "FileDescription", "Horarios para Colegio\000"
   VALUE "FileVersion", "1.2.2.314\000"
   VALUE "InternalName", "\000"
   VALUE "LegalCopyright", "2011 por Edison Mera\000"
   VALUE "LegalTrademarks", "\000"
   VALUE "OriginalFilename", "\000"
   VALUE "ProductName", "\000"
   VALUE "ProductVersion", "1.2.2.314\000"
  }
 }
 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 0x040A, 0x04B0
 }
}

#define RT_MANIFEST  24
#define CREATEPROCESS_MANIFEST_RESOURCE_ID 1
#define ISOLATIONAWARE_MANIFEST_RESOURCE_ID 2
#define ISOLATIONAWARE_NOSTATICIMPORT_MANIFEST_RESOURCE_ID 3

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "ttg.manifest"
