Unit About;

{$I ttg.inc}

interface

resourcestring
  sRevision = '<v>Revision</v>';
  sAppVersion = '<v>AppVersion</v>';
  sAppName = '<v>AppName</v>';
  sBuildDateTime ='<v>BuildDateTime</v>';
implementation

end.
