Unit uabout;

{$I ttg.inc}

interface

const
  sRevision: string = '<v>Revision</v>';
  sBuildDateTime: string ='<v>BuildDateTime</v>';

resourcestring
  sAppVersion = '<v>AppVersion</v>';
  sAppName = '<v>AppName</v>';
implementation

end.
