Unit UAbout;

{$I ttg.inc}

interface

const
  SRevision: string = '<v>Revision</v>';
  SBuildDateTime: string ='<v>BuildDateTime</v>';
  SAppVersion: string = '<v>AppVersion</v>';
  SCopyright: string = '<v>Copyright</v>';

resourcestring
  SAppName = '<v>AppName</v>';

implementation

end.
