Unit UAbout;

{$I ttg.inc}

interface

const
  sRevision: string = '<v>Revision</v>';
  sBuildDateTime: string ='<v>BuildDateTime</v>';
  sAppVersion: string = '<v>AppVersion</v>';
  
resourcestring
  sAppName = '<v>AppName</v>';
implementation

end.
