; -*- mode: iss; -*-
; Inno Setup Script
; Created with ScriptMaker Version 1.3.12
; 4 Agosto 2000 at 18:15

[Setup]
MinVersion=5.0,5.0
AppName=<v>AppName</v>
AppId=<v>AppName</v>
CreateUninstallRegKey=1
UsePreviousAppDir=1
UsePreviousGroup=1
AppVersion=<v>AppVersion</v>
AppVerName=<v>AppName</v> <v>AppVersion</v> (r<v>Revision</v> <v>BuildId</v>)
AppCopyright=Edición 30-01-2011. Edison Mera. Quito-Ecuador. Madrid-España
WindowShowCaption=0
WindowStartMaximized=0
WindowVisible=0
WindowResizable=0
UninstallLogMode=Append
DirExistsWarning=0
DisableDirPage=0
DisableStartupPrompt=0
CreateAppDir=1
DisableProgramGroupPage=0
Uninstallable=1
DefaultDirName={pf}\TTG\<v>AppVersion</v>
DefaultGroupName=<v>AppName</v> <v>AppVersion</v>
LicenseFile=..\..\doc\Licencia.txt
InfoAfterFile=..\..\doc\Leame.txt
OutputBaseFilename=ttgsetup
DiskSpanning=0
DiskClusterSize=512
ReserveBytes=4096
UseSetupLdr=1
SourceDir=.
OutputDir=..\..\bin\<v>BuildId</v>

[Dirs]
Name: {app}\hlp
Name: {app}\bin
Name: {app}\dat
Name: {app}\demos
Name: {app}\doc

[Files]
Source: ..\..\bin\<v>BuildId</v>\ttg.exe; DestDir: {app}\bin\<v>BuildId</v>\; DestName: ttg.exe
Source: ..\..\hlp\ttg.cnt; DestDir: {app}\hlp\; DestName: ttg.cnt
Source: ..\..\hlp\ttg.hlp; DestDir: {app}\hlp\; DestName: ttg.hlp
Source: ..\..\doc\ttg.doc; DestDir: {app}\doc\; DestName: ttg.doc
Source: ..\..\..\sqlite3\sqlite3.dll; DestDir: {sys}; DestName: sqlite3.dll
Source: ..\..\demos\BritanicoInt2000.ttd; DestDir: {app}\demos\; DestName: britanic.ttd
Source: ..\..\demos\Salamanca1999.ttd; DestDir: {app}\demos\; DestName: salamanc.ttd
[Icons]
Name: {group}\<v>AppName</v> <v>AppVersion</v>; Filename: {app}\bin\<v>BuildId</v>\ttg.exe; WorkingDir: {app}\bin\<v>BuildId</v>\; IconIndex: 0
Name: {group}\Manual del Usuario (doc); Filename: {app}\doc\ttg.doc
Name: {group}\Manual del Usuario (hlp); Filename: {app}\hlp\ttg.hlp
Name: {group}\{cm:UninstallProgram, <v>AppName</v> <v>AppVersion</v>}; Filename: {uninstallexe}
[INI]

[Registry]
Root: HKCU; SubKey: Software\TTG; ValueType: none; Flags: uninsdeletekey

[UninstallDelete]

[InstallDelete]

[Run]

[UninstallRun]

[Languages]
Name: default; MessagesFile: <v>ProgramFiles</v>\Inno Setup 5\Languages\Spanish.isl
