Source: ttg
Section: base
Priority: optional
Maintainer: Edison Mera <efmera@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://edisonm.dyndns.org/blog/
#Vcs-Git: git://git.debian.org/collab-maint/ttg.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/ttg.git;a=summary

Package: ttg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, zeosdbo-src (>= 1073)
Description: Automatic Timetable Generator
 This program  provides an automatic timetable generator,  that can be
 used in  Schools, Universities,  or Institutions where  several tasks
 must  be scheduled  and  they require  the  participation of  several
 general  resources,   such  as,  for   example,  rooms,  supervisors,
 teachers, students, materials like projectors, blackboards, etc.  but
 can be  any abstract concept, like  a group of  students that receive
 similar classes or  a customized restriction.  This work  is based on
 my   Master  Thesis  and   further  PhD   experience  but   has  been
 reimplemented  from   scratch  to  be  applicable   in  more  general
 scenarios.

Package: ttg-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}
Description: Automatic Timetable Generator -- Documentation files
 This package  contains documentation  and examples for  the Automatic
 Timetable Generator.

Package: ttg-es
Architecture: all
Depends: ${misc:Depends}, ttg
Description: Automatic Timetable Generator -- Spanish translation
 This  package  contains  the  Spanish translation  of  the  Automatic
 Timetable Generator.
