{ -*- mode: Delphi -*- }
Unit UAbout;

{$I ttg.inc}

interface

const
  SRevision: string = '<v>Revision</v>';
  SBuildDateTime: string ='<v>BuildDateTime</v>';
  SBuildMode: string ='<v>BuildMode</v>';
  SPackage: string = '<v>Package</v>';
  SCopyright: string = '<v>Copyright</v>';
  SBaseVersion: string = '<v>BaseVersion</v>';
resourcestring
  SAppName = '<v>AppName</v>';

implementation

end.
