{ -*- mode: Delphi -*- }
Unit UAbout;

{$I ttg.inc}

interface

const
  SRevision: string = '@Revision@';
  SBuildDateTime: string ='@BuildDateTime@';
  SBuildMode: string ='@BuildMode@';
  SPackage: string = '@Package@';
  SCopyright: string = '@Copyright@';
  SBaseVersion: string = '@BaseVersion@';
  SBuildId: string = '@BuildId@';
resourcestring
  SAppName = '@AppName@';

implementation

end.
