Package: ttg-doc<v>BuildLabel</v>
Version: <v>Version</v>
Section: base
Priority: optional
Architecture: all
Maintainer: Edison Mera <efmera@gmail.com>
Description: <v>AppName</v>. Documentation Files
  This package contains the documentation files
